#root {
 
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

body{
  background-color:#04030d;
}

.content{
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

.globo a {
  text-decoration: none;
  
}

li {
  list-style: none;
}

