
/*----clipo----*/





  .clipo1 img{
    width: 80px;
  
  }
  
  
  .clipo1 {
    /*position: absolute;*/
  
    z-index: 100;
    bottom: 20px;
    left: 50%;
    margin-left: -12px;
    -webkit-animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
    margin-left: 18%;
    img {
         position: absolute;
    }
  }
  
  @-webkit-keyframes bounce-down {
   25% {
        -webkit-transform: translateY(-4px);
   }
   50%, 100% {
        -webkit-transform: translateY(0);
   }
   75% {
        -webkit-transform: translateY(4px);
   }
  }
  
  @keyframes bounce-down {
    25% {
         transform: translateY(-4px);
    }
    50%, 100% {
         transform: translateY(0);
    }
    75% {
         transform: translateY(4px);
    }
  
  }

/*----dialog----*/
.cardContainer{
     
    margin-left: 50%;
}

.cardOk{
     width: 100px;
     margin: 40px auto;
     display: flex;
     flex-direction: column;
    
     }

  .globo{
     border-radius: 25px;
        padding: 12px;
      /*  background: #a2a36f;*/
        background:#120c47 ;
        color: white;
     padding: 10px;
     position: relative;
     width: 200px;
     border: 1px solid violet;
     height: 150px;
     display: flex;
     align-items: center;
     margin: 0 auto;
     font-family: sans-serif;
     z-index: 1;
     }
  .globo::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 80px;
     background: transparent;
     width: 0px; height: 0px;
   /* border-bottom: 40px solid #a2a36f;*/
     border-bottom: 40px solid #120c47;
     border-right: 40px solid transparent;
     border-left: 40px solid transparent;
     transform: rotate(90deg);
     z-index: -1;
     
     }

     .globo p{
          font-size: 14px;
     }

 /* .clipo {
     width: 141px;
     border-radius: 50%;
     border: 8px double #f5e8e8;
     width: 100px;
  }*/
  
 .globo  a{
     color: white;
  }

  .globoChoice{
     display: flex;
     justify-content: center;

  }

  .globoChoice p{
     padding: 10px;
  }

  

  @media screen and (max-width: 900px) {

   
     .clipo1{
        left: 45%;
         margin-left: -12px;
    
 
   }
     .cardContainer{
          margin: 0 auto;
          margin-left: 0;
         
         
      }

      .clipoHome{
          margin-top: 400px;
      }

      .cardOk{
          margin-left: 30%;
      }
 
 }

 @media screen and (max-width: 580px) {

     

      .cardOk{
          margin-left: 25%;
      }
 
 }

 @media screen and (max-width: 490px) {

     

     .cardOk{
         margin-left: 18%;
     }

}


@media screen and (max-width: 398px) {

     

     .cardOk{
         margin-left: 10%;
     }

}


