.skillsCateg{
    /*background-color: whitesmoke;*/
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.skillsTech{
    display: flex;
    justify-content: space-around;

    width: 50vw;
}

.skillsTitleOk{
    width: 10vw;
    
    text-align: left;
}

.skillsTech img{
    width: 80px;
}

.skillsTechContainer{
    width: 70vw;
    margin:  0 auto;
   
}

.skillsTechOne{

width: 50%;
display: flex;
justify-content: space-around;
margin: 0 auto;
}

.skillsTechTwo{
width: 50%;
display: flex;
justify-content: space-around;
margin: 0 auto;

}

.skillsTitle h2{
    padding: 10px;
}
@media screen and (max-width: 960px) {
.skillsCateg{
    display: grid;
}

.skillsTitleOk{
    margin: 0 auto;
    width: fit-content;
}

.skillsTech{
  /*  display: flex;*/
  display: grid;
}

.skillsTechOne{
    width: 100%;
    height: 90px;

}

.skillsTechTwo{
    width: 100%;
    height: 90px;
   
}

.skillsTechOne img{
    margin-right: 20px;
}

.skillsTechTwo img{
    margin-right: 20px;
}
  
  }

  @media screen and (max-width: 900px) {

    .skillsTechContainer{
        margin-top: 300px;
    }



}

/*------------------*/
.flip-card {
    background-color: transparent;
   /* width: 300px;*/
    /*height: 200px;*/
   /* border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
   
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    font-weight: bold;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flip-card{
 
    width: 80px;
    
  }

  .flip-card-front{
 
    width: 80px;
 
  }
  
 